---
title: "KPSC"
layout: splash
permalink: /
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/2019ICPC.jpeg
  caption: "2019 ACM-ICPC Asia Seoul Regional Contest"
excerpt: "KMUCS Problem Solving Club (KPSC)<br>국민대학교 소프트웨어학부 알고리즘 문제해결 동아리<br><br><br><br><br>"
intro: 
  - excerpt: '알고리즘을 깊이 있게 공부하고, 다양한 프로그래밍 문제들을 풀어보면서 문제 해결 능력을 기릅니다.'
feature_row2:
  - image_path: /assets/images/2019ICPC-2.jpeg
    alt: "2019 ICPC Image"
    title: "소개"
    excerpt: 'KPSC는 알고리즘을 깊이 있게 공부하고, 다양한 프로그래밍 문제들을 풀어보면서 문제 해결 능력을 기르는 동아리입니다.'
    url: "/about"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/2019SCPC.jpeg
    alt: "2019 SCPC Image"
    title: "성과"
    excerpt: 'KPSC는 다양한 대회 출전을 통해 성과를 얻고, 보다 더 높은 결과를 얻기 위해 노력하고 있습니다.'
    url: "/accomplishments"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
    - image_path: /assets/images/2020KPSC-Welcome-Contest.png
      alt: "2020 KPSC 2020 KPSC Welcome Contest"
      title: "동아리 대회"
      excerpt: 'KPSC에서 직접 문제를 출제하고 대회를 개최합니다.'
      url: "/club-contests"
      btn_label: "Read More"
      btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="left" %}